{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'global/css/navbar.css' %}">
    
    {% block extra_head %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <ul class="navbar-space">
            <ul>
                <li><a href="#">Início</a></li>
               
            </ul>
            
            <ul>
                <li class='navbar-username'><a href="">Pedro</a></li>    
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>


        </ul>
    </nav>
    {% block content %}{% endblock %}

    {% block extra_footer %}{% endblock %}
</body>
</html>